<p-dialog
  [header]="readOnly() ? 'Ver Usuario' : 'Editar Usuario'"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="w-full">
    <form [formGroup]="form" (submit)="submit()">
      <div class="grid lg:grid-cols-2 gap-4">
        <app-custom-input
          [parentForm]="form"
          label="Primer nombre"
          fieldName="firstName"
          placeholder="Primer nombre"
          formControlName="firstName"
          [type]="'text'"
          [required]="true"
          [isDisabled]="readOnly()"
        />

        <app-custom-input
          [parentForm]="form"
          label="Segundo nombre"
          fieldName="middleName"
          placeholder="Segundo nombre"
          formControlName="middleName"
          [type]="'text'"
          [isDisabled]="readOnly()"
        />

        <app-custom-input
          [parentForm]="form"
          label="Primer apellido"
          fieldName="lastName"
          placeholder="Primer apellido"
          formControlName="lastName"
          [type]="'text'"
          [required]="true"
          [isDisabled]="readOnly()"
        />

        <app-custom-input
          [parentForm]="form"
          label="Segundo apellido"
          fieldName="secondLastName"
          placeholder="Segundo apellido"
          formControlName="secondLastName"
          [type]="'text'"
          [isDisabled]="readOnly()"
        />

        <app-calendar
          [parentForm]="form"
          [required]="true"
          fieldName="birthday"
          formControlName="birthday"
          label="Fecha Nacimiento"
          [maxDate]="maxDate"
          [isDisabled]="readOnly()"
        ></app-calendar>

        <app-select
          [parentForm]="form"
          label="Genero"
          fieldName="gender"
          formControlName="gender"
          [required]="true"
          [selectOptions]="genderOptions"
          [isDisabled]="readOnly()"
        />

        <app-custom-input
          [parentForm]="form"
          label="Correo electrónico"
          placeholder="example@gmail.com"
          fieldName="email"
          formControlName="email"
          [type]="'text'"
          [required]="true"
          [pTooltip]="!readOnly() ? 'Correo no se puede editar' : 'email'"
          [isDisabled]="true"
        />
      </div>

      @if (!readOnly()) {
        <div class="flex justify-end mt-4">
          <p-button
            label="Guardar"
            type="submit"
            [loading]="editUserMutation.isPending()"
            [disabled]="editUserMutation.isPending()"
          />
        </div>
      }
    </form>
  </div>
</p-dialog>
