<div class="w-full">
  <p-tabView class="w-full p-2">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex items-center gap-2">
          <span class="material-symbols-outlined"> translate </span>          
          <span class="font-bold whitespace-nowrap m-0">Habilidades Lingüísticas</span>
        </div>
      </ng-template>
      <app-language-skills></app-language-skills>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex items-center gap-2 h-fit">
          <span class="material-symbols-outlined"> build </span>
          <span class="font-bold whitespace-nowrap m-0">Habilidades Técnicas</span>
        </div>
      </ng-template>
      <app-technical-skill></app-technical-skill>
    </p-tabPanel>
  </p-tabView>
</div>

