<div class="flex flex-col px-4 lg:px-10 py-10 pt-0">
  <div class="text-center">
    <h4 class="text-slate-500 text-xl font-bold">Crear nueva cuenta</h4>
  </div>
  <hr class="mt-3 border-b-5 mb-7 border-slate-400" />

  <form [formGroup]="form" (submit)="submit()">
    <div class="flex flex-wrap lg:flex-nowrap gap-2 w-full">
      <div class="w-full lg:w-1/2">
        <app-custom-input
          [parentForm]="form"
          label="Primer nombre"
          fieldName="firstName"
          placeholder="Primer nombre"
          formControlName="firstName"
          [type]="'text'"
          [required]="true"
        />
      </div>

      <div class="w-full lg:w-1/2">
        <app-custom-input
          [parentForm]="form"
          label="Segundo nombre"
          fieldName="middleName"
          placeholder="Segundo nombre"
          formControlName="middleName"
          [type]="'text'"
        />
      </div>
    </div>

    <div class="flex flex-wrap lg:flex-nowrap gap-2 w-full">
      <div class="w-full lg:w-1/2">
        <app-custom-input
          [parentForm]="form"
          label="Primer apellido"
          fieldName="lastName"
          placeholder="Primer apellido"
          formControlName="lastName"
          [type]="'text'"
          [required]="true"
        />
      </div>

      <div class="w-full lg:w-1/2">
        <app-custom-input
          [parentForm]="form"
          label="Segundo apellido"
          fieldName="secondLastName"
          placeholder="Segundo apellido"
          formControlName="secondLastName"
          [type]="'text'"
        />
      </div>
    </div>

    <app-custom-input
      [parentForm]="form"
      label="Correo electrónico"
      placeholder="john.doe@company.com"
      fieldName="email"
      formControlName="email"
      [type]="'email'"
      [required]="true"
    />

    <app-custom-input
      [parentForm]="form"
      label="Contraseña"
      placeholder="•••••••••"
      fieldName="password"
      formControlName="password"
      [type]="'password'"
      [required]="true"
    />

    <div class="text-center mt-6">
      <button
        class="bg-slate-800 text-white active:bg-slate-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
        type="submit"
      >
        Registrarse
      </button>
    </div>
  </form>
</div>
