<div class="w-full">
  <label
    [for]="fieldName"
    class="block uppercase text-slate-600 text-xs font-bold mb-2 dark:text-white"
    >{{ label }}{{ required ? ' *' : '' }}</label
  >
  <input
    [id]="fieldName"
    [name]="fieldName"
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="isDisabled"
    class="block border-white text-gray-900 placeholder-slate-300 px-3 py-3 text-sm rounded shadow focus:ring-blue-500 focus:border-blue-500 w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    [ngClass]="{
      'border-red-500 bg-red-100 text-red-900 placeholder-red-700 focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block':
        formField.invalid && formField.dirty,
      'border-white': !formField.invalid || !formField.dirty
    }"
    (input)="onChange($event)"
    (blur)="touched()"
  />
  <div class="input-group--prepend-icon" *ngIf="prependIcon">
    <i
      [ngClass]="{
        'Icon': true,
        'absolute inset-y-0 left-0 pl-2.5 pt-3 items-center text-primary-700': true
      }"
    ></i>
  </div>
  <div class="input-group--end-icon" *ngIf="endIcon">
    <i
      [ngClass]="{ 'Icon': true, 'absolute inset-y-0 right-0 pr-2.5 flex pt-3 items-center': true }"
    ></i>
  </div>
  <app-input-errors
    [formField]="formField"
    [fieldName]="label.toLocaleLowerCase()"
  ></app-input-errors>
</div>
