<p-dialog
  header="Agregar reunión"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex w-full">
    <form [formGroup]="form" (submit)="submit()" class="w-full gap-2">
      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2">
        <div class="w-full mt-2">
          <app-custom-input
            [parentForm]="form"
            label="Enlace de la reunión"
            fieldName="link"
            placeholder="https://meet.google.com/"
            formControlName="link"
            [type]="'text'"
            [required]="true"
          />
        </div>
      </div>
      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
        <div class="w-full mt-2">
          <app-calendar
            [showTime]="true"
            fieldName="executionDate"
            [required]="true"
            [parentForm]="form"
            formControlName="executionDate"
            label="Fecha de la reunión"
            [minDate]="today"
          ></app-calendar>
        </div>
      </div>
      <div class="flex w-full justify-end mt-3">
        <p-button type="submit" label="Guardar" [loading]="createMeetingMutation.isPending()" />
      </div>
    </form>
  </div>
</p-dialog>
