<div class="w-full">
  <label
    [for]="fieldName"
    [ngClass]="isDisabled ? '!text-gray-light' : 'block'"
    class="block uppercase text-slate-600 text-xs font-bold mb-2 dark:text-white"
    >{{ label }}{{ required ? ' *' : '' }}</label
  >
  <p-calendar
    [(ngModel)]="value"
    [placeholder]="label"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [showTime]="showTime"
    [showIcon]="showIcon"
    [disabled]="isDisabled"
    [dateFormat]="dateFormat"
    [iconDisplay]="'input'"
    readonlyInput="true"
    [inputId]="fieldName"
    appendTo="body"
    [style]="{ width: '100%' }"
    [inputStyleClass]="
      formField.errors !== null && formField.touched
        ? '!border-red-500  placeholder-slate-300 text-sm rounded shadow focus:ring-red-500 dark:bg-gray-700 focus:border-red-500'
        : '!w-full !border-white text-gray-900 placeholder-slate-300 text-sm rounded shadow focus:ring-blue-500 focus:border-blue-500 w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
    "
    (onSelect)="onChange($event)"
    (onBlur)="touched()"
    (onInput)="touched()"
  />
  <app-input-errors
    [formField]="formField"
    [fieldName]="label.toLocaleLowerCase()"
    [propertyName]="fieldName"
  ></app-input-errors>
</div>
