<p-dialog
  [header]="readOnly() ? 'Detalles de catálogo ' + catalogTechnicalSkill.name : 'Editar catálogo'"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex w-full">
    <form [formGroup]="form" (submit)="submit()" class="w-full gap-2">
      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2">
        <div class="w-full mt-2">
          <app-custom-input
            [parentForm]="form"
            label="Nombre de catálogo"
            fieldName="name"
            placeholder="Nombre de permiso"
            formControlName="name"
            [type]="'text'"
            [isDisabled]="readOnly()"
            [required]="true"
          />
        </div>
      </div>

      @if (!readOnly()) {
        <div class="flex w-full justify-end mt-3">
          <p-button
            type="submit"
            label="Guardar"
            [loading]="editCatalogTechnicalSkillMutation.isPending()"
          />
        </div>
      }

      @if (readOnly()) {
        <div class="flex flex-wrap w-full mt-4">
          <span class="block uppercase text-slate-600 text-[14px] mb-1 font-bold dark:text-white"
            >Habilidades técnicas</span
          >

          <div class="flex flex-row flex-wrap w-full mt-4">
            @for (
              catalogTechnicalSkill of catalogTechnicalSkillsRequest.data()?.technicalSkill;
              track $index
            ) {
              <div class="mt-2 w-full md:w-1/2">
                {{ catalogTechnicalSkill.name }}
              </div>
            }
          </div>
        </div>
      }
    </form>
  </div>
</p-dialog>
