<div class="w-full gap-2">
  @if (personRequest.isLoading()) {
    <div class="flex items-center justify-center w-full h-96">
      <p-progressSpinner></p-progressSpinner>
    </div>
  } @else {
    <form [formGroup]="form" (submit)="submit()" class="gap-4 p-2">
      <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-4 mb-4">
        <div class="w-full">
          <app-custom-input
            [parentForm]="form"
            label="Primer nombre"
            fieldName="firstName"
            placeholder="Primer nombre"
            formControlName="firstName"
            [type]="'text'"
          />
        </div>

        <div class="w-full">
          <app-custom-input
            [parentForm]="form"
            label="Segundo nombre"
            fieldName="middleName"
            placeholder="Segundo nombre"
            formControlName="middleName"
            [type]="'text'"
          />
        </div>

        <div class="w-full lg:basis-1/2">
          <app-custom-input
            [parentForm]="form"
            label="Primer apellido"
            fieldName="lastName"
            placeholder="Primer apellido"
            formControlName="lastName"
            [type]="'text'"
          />
        </div>

        <div class="w-full lg:basis-1/2">
          <app-custom-input
            [parentForm]="form"
            label="Segundo apellido"
            fieldName="secondLastName"
            placeholder="Segundo apellido"
            formControlName="secondLastName"
            [type]="'text'"
          />
        </div>

        <div class="w-full">
          <app-calendar
            fieldName="birthday"
            [required]="true"
            [parentForm]="form"
            formControlName="birthday"
            label="Fecha de nacimiento"
            [maxDate]="maxDate"
          ></app-calendar>
        </div>

        <div class="w-full">
          <app-select
            label="Sexo"
            [selectOptions]="genderOptions"
            [required]="true"
            [parentForm]="form"
            label="Sexo"
            fieldName="gender"
            formControlName="gender"
          ></app-select>
        </div>
      </div>

      <div class="flex justify-end w-full mt-3">
        <p-button
          type="submit"
          label="Guardar cambios"
          [loading]="updatePersonMutation.isPending()"
        />
      </div>
    </form>
  }
</div>
