<p-dialog
  header="Eliminar red social"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex flex-col w-full">
    <div class="flex items-center">
      ¿Estás seguro que quieres eliminar red social de
      {{ positionQuery.data()?.typeSocialNetwork?.name }}?
    </div>
    <div class="flex justify-end gap-4 mt-5">
      <p-button
        label="No, gracias"
        severity="secondary"
        [text]="true"
        [raised]="true"
        (click)="closeModal()"
      />
      <p-button
        label="Eliminar"
        icon="pi pi-trash"
        [raised]="true"
        [loading]="deleteSocialMediaMutation.isPending()"
        (click)="delete()"
      />
    </div>
  </div>
</p-dialog>
