<div class="flex flex-wrap gap-2 w-full mt-2">
  @if (certificationsRequest.isPending()) {
    <div class="flex w-full justify-center items-center">
      <app-spinner />
    </div>
  } @else {
    <div class="flex flex-wrap gap-2 w-full">
      @for (page of certificationsRequest.data()?.pages; track $index) {
        @for (certification of page.data; track certification.id) {
          <div class="w-full">
            <p-card>
              <ng-template pTemplate="header">
                <div class="flex w-full justify-between items-center px-10 pt-5">
                  <div class="flex flex-col flex-wrap mt-5">
                    <div>
                      <h3 class="font-bold text-2xl">{{ certification.name }}</h3>
                    </div>
                    <div>
                      <h4 class="text-xl">{{ certification.organizationName }}</h4>
                    </div>
                    <div>
                      <h5 class="text-lg">{{ certification.code }}</h5>
                    </div>
                    <div class="mt-1">
                      <p>
                        {{ certification.initDate | date: 'mediumDate' }} -{{ certification.finishDate }}
                      </p>
                    </div>
                  </div>
                  <div class="flex justify-between mt-5 gap-3">
                    <div>
                      <button
                        (click)="onClickShowEditDialog(certification.id)"
                        class="p-button-rounded p-button-text"
                        pTooltip="Editar experiencia laboral"
                        tooltipPosition="bottom"
                      >
                        <span class="material-symbols-outlined text-orange"> edit </span>
                      </button>
                    </div>
                    <div>
                      <button
                        (click)="onClickShowDeleteDialog(certification.id)"
                        class="p-button-rounded p-button-text"
                        pTooltip="Eliminar experiencia laboral"
                        tooltipPosition="bottom"
                      >
                        <span class="material-symbols-outlined red-icon"> delete </span>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-card>
          </div>
        }
      }
    </div>
    <div class="mt-2 w-44">
      <p-button
        icon="pi pi-angle-down"
        (onClick)="certificationsRequest.fetchNextPage()"
        [disabled]="nextButtonDisabled()"
        [loading]="certificationsRequest.isFetchingNextPage()"
        [text]="true"
        [style]="{ width: '100%' }"
        [label]="nextButtonText()"
      />
    </div>
  }
</div>

