<div class="w-full flex flex-col">
    <div class="flex w-full justify-between gap-2">
      <div class="mt-1 font-bold text-2xl">
        <h1>Educación</h1>
      </div>
  
      <p-button
        label="Agregar"
        icon="pi pi-plus"
        class="p-button-rounded"
        (click)="showAddDialog()"
      />
    </div>
    <div>
      <academic-knowledge-list
        (showDeleteDialog)="showDeleteDialog($event)"
        (showEditDialog)="showEditDialog($event)"
      />
    </div>
  
    <app-create-academic-knowledge-modal [visible]="showAddModal" />
  
    <app-delete-academic-knowledge-modal
      [visible]="showDeleteModal"
      [academicKnowledgeId]="selectedAcademicKnowledge"
    />
  
    <app-edit-academic-knowledge-modal
      [visible]="showEditModal"
      [academicKnowledgeId]="selectedAcademicKnowledge()"
    />
  </div>

  