<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen">
  <div class="container flex lg:ml-4 justify-center flex-wrap z-10 lg:justify-start">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-8 justify-center md:justify-start">
      <div class="pt-0 flex flex-col justify-center lg:justify-start">
        <img
          alt="..."
          class="max-w-48 mb-5 lg:ml-6 justify-self-center rounded-full"
          src="assets/img/talenthub_bg_blue.png"
          />
        <h2 class="font-semibold text-4xl text-slate-600">
          TalentHub Connect
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-slate-500">
          Una plataforma de bolsa de trabajo innovadora que conecta a empresas y profesionales de manera eficiente, ofreciendo oportunidades laborales relevantes y personalizadas.
        </p>
        <div class="mt-12 mb-6">
          <a
            routerLink="/login"
            class="text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-primary-dark active:bg-primary-dark-active uppercase text-sm"
          >
            ¡Empieza ya!
          </a>
        </div>
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 h-screen hidden lg:block"
    src="assets/img/pattern_react.png"
    alt="..."
  />
</section>

<section class="mt-48 md:mt-40 pb-12 relative bg-slate-100">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-slate-100 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div
        class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32"
      >
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-primary"
        >
          <img
            alt="..."
            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
            class="w-full align-middle rounded-t-lg"
          />
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px"
            >
            </svg>
            <h4 class="text-xl font-bold text-white">
              ¡Desata todo el potencial de tu proyecto con TalentHub Connect!
            </h4>
            <p class="text-md font-light mt-2 text-white">
              Desde la creación de perfiles de usuario hasta la publicación de ofertas laborales, 
              simplificamos el proceso para que puedas concentrarte en lo que realmente importa: 
              encontrar el talento adecuado o la oportunidad perfecta. ¡Únete a TalentHub Connect 
              hoy mismo y haz que tu proyecto despegue!
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-slate-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <span class="material-symbols-outlined">
                  smartphone
                  </span>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Multidispositivo</h6>
                <p class="mb-4 text-slate-500">
                  Accesible desde una variedad de dispositivos, incluyendo computadoras de escritorio, portátiles, tabletas y teléfonos inteligentes
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-slate-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <span class="material-symbols-outlined">
                  star
                  </span>
                </div>
                <h6 class="text-xl mb-1 font-semibold">
                  Experiencia de Usuario
                </h6>
                <p class="mb-4 text-slate-500">
                  Fácil de usar y ofrecer una experiencia de usuario intuitiva para tanto para postulantes como para empresas.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-slate-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <span class="material-symbols-outlined">
                    lock
                  </span>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Seguridad</h6>
                <p class="mb-4 text-slate-500">
                  Medidas sólidas de seguridad y privacidad para proteger la información confidencial de los usuarios.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-slate-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <span class="material-symbols-outlined">
                  contact_page
                  </span>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Perfiles Personalizados</h6>
                <p class="mb-4 text-slate-500">
                  Perfiles detallados que incluyan información personal, experiencia laboral, habilidades, certificaciones, logros y más.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto overflow-hidden pb-0">
    <div class="flex flex-wrap items-center pt-0">
      <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-16">
        <div class="justify-center flex flex-wrap relative">
          <div class="my-4 w-full lg:w-6/12 px-4">
            <div class="bg-red-600 shadow-lg rounded-lg text-center p-8">
              <span class="material-symbols-outlined text-red-600 shadow-md rounded-full max-w-full w-12 mx-auto pt-3 h-12 bg-white">
                work
              </span>
              <p class="text-lg text-white mt-4 font-semibold">Empleo estable</p>
            </div>
            <div
              class="bg-sky-500 shadow-lg rounded-lg text-center p-8 mt-8"
            >
            <span class="material-symbols-outlined text-sky-500 shadow-md rounded-full max-w-full w-12 mx-auto pt-3 h-12 bg-white">
              interests
            </span>
            <p class="text-lg text-white mt-4 font-semibold">Satisfacción personal</p>
            </div>
            <div
              class="bg-slate-700 shadow-lg rounded-lg text-center p-8 mt-8"
            >
            <span class="material-symbols-outlined text-slate-700 shadow-md rounded-full max-w-full w-12 mx-auto pt-3 h-12 bg-white">
              rubric
            </span>
              <p class="text-lg text-white mt-4 font-semibold">Seguimiento</p>
            </div>
        </div>
        <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
            <div class="bg-yellow-500 shadow-lg rounded-lg text-center p-8">
              <span class="material-symbols-outlined text-yellow-500 shadow-md rounded-full max-w-full w-12 mx-auto pt-3 h-12 bg-white">
                savings
              </span>
              <p class="text-lg text-white mt-4 font-semibold">Seguridad financiera</p>
            </div>
            <div class="bg-violet-500 shadow-lg rounded-lg text-center p-8 mt-8">
              <span class="material-symbols-outlined text-violet-500 shadow-md rounded-full max-w-full w-12 mx-auto pt-3 h-12 bg-white">
                visibility
              </span>
              <p class="text-lg text-white mt-4 font-semibold">Visibilidad y accesibilidad</p>
            </div>
            <div
              class="bg-emerald-500 shadow-lg rounded-lg text-center p-8 mt-8"
            >
            <span class="material-symbols-outlined text-emerald-500 shadow-md rounded-full max-w-full w-12 mx-auto pt-3 h-12 bg-white">
              azm
            </span>
              <p class="text-lg text-white mt-4 font-semibold">Desarrollo profesional</p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-0">
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Alcanza tus objetivos profesionales
        </h3>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-slate-600"
        >
        ¡Alcanza tus metas profesionales con TalentHub Connect! Nuestra plataforma te ofrece 
        una vía directa hacia oportunidades laborales que se ajusten a tus habilidades y preferencias. 
        
        </p>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-slate-600"
        >
          Haz que cada paso te acerque más a tus objetivos profesionales con TalentHub Connect.
        </p>
        <div class="block pb-6">
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-slate-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
          #TalentHubConnect
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-slate-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            #DesarrolloProfesional
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-slate-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            #CarreraProfesional
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-slate-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            #ExitoLaboral
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-slate-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            #EmpleoDigital
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-slate-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            #OportunidadesLaborales
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-slate-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            #Empleabilidad
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-slate-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            #Talento
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>