<div class="w-full">
  <label
    [for]="fieldName"
    class="block uppercase text-slate-600 text-xs font-bold mb-2 dark:text-white"
    >{{ label }}{{ required ? ' *' : '' }}</label
  >
  <p-dropdown
    [id]="fieldName"
    [name]="fieldName"
    [(ngModel)]="value"
    [filter]="filter"
    [filterBy]="filterBy"
    [loading]="loading"
    optionLabel="label"
    optionValue="value"
    appendTo="body"
    [disabled]="isDisabled"
    [options]="selectOptions"
    [styleClass]="
      formField.errors !== null && formField.touched
        ? 'w-full !border-red-500  placeholder-slate-300 text-sm rounded shadow focus:ring-red-500 dark:bg-gray-700 focus:border-red-500'
        : '!w-full !border-white text-gray-900 placeholder-slate-300 text-sm rounded shadow focus:ring-blue-500 focus:border-blue-500 w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
    "
    [placeholder]="'Seleccione una opción'"
    (onChange)="onChange($event)"
    (blur)="touched()"
  />
  <app-input-errors
    [formField]="formField"
    [fieldName]="label.toLocaleLowerCase()"
    [propertyName]="fieldName"
  ></app-input-errors>
</div>
