<p-dialog
  header="Añadir reconicimiento"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex w-full">
    <form [formGroup]="form" (submit)="submit()" class="w-full gap-2">
      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2">
        <div class="w-full">
          <app-custom-input
            [parentForm]="form"
            label="Nombre de reconcimiento"
            fieldName="name"
            placeholder="Nombre de reconcimiento"
            formControlName="name"
            [type]="'text'"
            [required]="true"
          />
        </div>
      </div>

      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
        <div class="w-full lg:basis-1/2 mt-2">
          <app-select
            label="Tipo de reconocimiento"
            [selectOptions]="recognitionsTypesOptions"
            [required]="true"
            [parentForm]="form"
            fieldName="recognitionType"
            formControlName="recognitionType"
          ></app-select>
        </div>

        <div class="w-full lg:basis-1/2 mt-2">
          <app-calendar
            fieldName="finishDate"
            [required]="true"
            [parentForm]="form"
            formControlName="finishDate"
            label="Fecha de finalizacion"
            [maxDate]="today"
          ></app-calendar>
        </div>
      </div>

      <div class="flex w-full justify-end mt-3">
        <p-button type="submit" label="Guardar" [loading]="createRecognitionMutation.isPending()" />
      </div>
    </form>
  </div>
</p-dialog>
