<div class="w-full flex flex-col">
  <div class="flex w-full justify-between gap-2">
    <div class="mt-1 font-bold text-2xl">
      <h1>Experiencia laboral</h1>
    </div>

    <p-button
      label="Agregar"
      icon="pi pi-plus"
      class="p-button-rounded"
      (click)="showAddDialog()"
    />
  </div>
  <div>
    <app-labor-experiences-list
      (showDeleteDialog)="showDeleteDialog($event)"
      (showEditDialog)="showEditDialog($event)"
    />
  </div>

  <app-create-labor-experience-modal [visible]="showAddModal" />

  <app-delete-labor-experience-modal
    [visible]="showDeleteModal"
    [laborExperienceId]="selectedLaborExperience"
  />

  <app-edit-labor-experience-modal
    [visible]="showEditModal"
    [laborExperienceId]="selectedLaborExperience()"
  />
</div>
