<!--
// v0 by Vercel.
// https://v0.dev/t/KRZ1Ur2xx2g
-->
<div class="flex flex-col items-center justify-center min-h-screen gap-4 text-center bg-slate-100 bg-no-repeat bg-cover" style="background-image: url('../../../assets/img/register_bg_2.png'); background-position: center;">
  <div class="flex flex-col items-center gap-2">
    <span class="material-symbols-outlined text-[8rem] text-primary-dark">
      lock
    </span>
    <div class="space-y-3 my-4">
      <h1 class="text-primary-dark text-3xl font-bold tracking-tighter sm:text-5xl">Access Forbidden</h1>
      <p class="text-slate-500 md:text-xl/relaxed dark:text-gray-400">
        No tienes el permiso requerido para acceder a este recurso.
      </p>
    </div>
  </div>
  <a class="text-primary inline-flex h-9 items-center rounded-md border border-primary border-gray-200 bg-white px-4 text-sm font-medium shadow-sm transition-colors hover:bg-gray-100 hover:text-gray-900 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-800 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-800 dark:hover:text-gray-50 dark:focus-visible:ring-gray-300" href="#">
    <i class="fa-solid fa-arrow-left mr-2 mt-1"></i>
    Go Home
  </a>
</div>
