<p-dialog
  header="Detalle del reclutador"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div *ngIf="profile" class="p-6 bg-white rounded-lg shadow-md">
    <div class="flex items-center mb-4">
      <img
        [src]="
          '../../../../../../assets/img/avatars/avatar' +
          (profile.gender === 'M' ? '-men.jpeg' : '-women.jpeg')
        "
        alt="Avatar"
        class="w-16 h-16 rounded-full"
      />
      <div class="ml-4">
        <h2 class="text-xl font-bold">
          {{ profile.firstName }} {{ profile.middleName }} {{ profile.lastName }}
          {{ profile.secondLastName }}
        </h2>
        <p class="text-gray-600">{{ profile.user.email }}</p>
      </div>
    </div>
    <!-- <div class="mb-4">
    <h3 class="text-lg font-semibold">Company Information</h3>
    <p>{{ profile.user.company.name }} ({{ profile.user.company.size }})</p>
    <p>{{ profile.user.company.description }}</p>
    <p><a href="{{ profile.user.company.website }}" class="text-blue-600">{{ profile.user.company.website }}</a></p>
  </div> -->
    <div class="mb-4">
      <h3 class="text-lg font-semibold">Dirección</h3>
      @if (profile.address) {
        <p>{{ profile.address.street }}, {{ profile.address.numberHouse }}</p>
        @if (profile.address.country.name === 'El Salvador') {
          <p>{{ profile.address.municipality.name }}, {{ profile.address.department.name }}</p>
        }
        <p>{{ profile.address.country.name }}</p>
      } @else {
        <p>Sin información acerca de dirección</p>
      }
    </div>
    <div class="mb-4">
      <h3 class="text-lg font-semibold">Documentos</h3>
      @if (profile.documents && profile.documents.length > 0) {
        <ul>
          @for (document of profile.documents; track document.type) {
            @if (document.type === 'PASSPORT') {
              <li>Pasaporte: {{ document.number }}</li>
            } @else {
              <li>{{ document.type }}: {{ document.number }}</li>
            }
          }
        </ul>
      } @else {
        <p>Sin documentos registrados</p>
      }
    </div>
  </div>
</p-dialog>
