<div class="flex flex-wrap gap-2 w-full mt-2">
  @if (technicalSkillsRequest.isPending()) {
    <div class="flex w-full justify-center items-center">
      <app-spinner />
    </div>
  } @else {
    <div class="flex flex-wrap gap-2 w-full">
      @for (page of technicalSkillsRequest.data()?.pages; track $index) {
        @for (technicalSkills of page.data; track technicalSkills.id) {
          <div class="w-full">
            <p-card>
              <ng-template pTemplate="header">
                <div class="flex w-full md:justify-between items-center px-7 lg:px-10 pt-5">
                  <div class="flex flex-col flex-wrap mt-5">
                    <div class="flex items-center gap-1.5">
                      <span class="material-symbols-outlined"> social_leaderboard </span>
                      <h3 class="font-bold text-2xl">{{ technicalSkills.technicalSkill.name }}</h3>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="body">
                <div
                  class="flex flex-col md:flex-row w-full justify-between px-4 lg:px-7 -mt-14 -mb-4 md:mb-0"
                >
                  <div class="flex flex-col flex-wrap mt-5">
                    <div>
                      <h4 class="text-normal lg:text-lg">
                        {{ technicalSkills.technicalSkill.categoryTechnicalSkill.name }}
                      </h4>
                    </div>
                  </div>
                  <div class="flex justify-center items-center mt-5 gap-3">
                    <div>
                      <button
                        (click)="onClickShowDeleteDialog(technicalSkills.id)"
                        class="p-button-rounded p-button-text"
                        pTooltip="Eliminar Habilidad Técnica"
                        tooltipPosition="bottom"
                      >
                        <span class="material-symbols-outlined text-red-500"> delete </span>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-card>
          </div>
        }
      }
    </div>
    <div class="mt-2 w-full md:w-44">
      <p-button
        icon="pi pi-angle-down"
        (onClick)="technicalSkillsRequest.fetchNextPage()"
        [disabled]="nextButtonDisabled()"
        [loading]="technicalSkillsRequest.isFetchingNextPage()"
        [text]="true"
        [style]="{ width: '100%' }"
        [label]="nextButtonText()"
      />
    </div>
  }
</div>
