<div class="w-auto bg-white shadow-md rounded-lg p-6">
  <p class="text-xl font-bold">Crear puesto de trabajo</p>
  <div class="flex w-full mt-7">
    <form [formGroup]="form" (submit)="submit()" class="w-full gap-2">
      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2">
        <div class="w-full">
          <app-custom-input
            [parentForm]="form"
            label="Nombre de puesto"
            fieldName="name"
            placeholder="Nombre de puesto"
            formControlName="name"
            [required]="true"
          />
        </div>
      </div>

      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
        <div class="w-full lg:w-1/2">
          <app-select
            label="Compañia"
            [filter]="true"
            filterBy="label"
            [selectOptions]="companiesOptions"
            [required]="true"
            [parentForm]="form"
            fieldName="companyId"
            formControlName="companyId"
          ></app-select>
        </div>

        <div class="w-full lg:w-1/2">
          <app-custom-input
            [parentForm]="form"
            label="Rango salarial"
            fieldName="salaryRange"
            placeholder="Rango salarial"
            formControlName="salaryRange"
            [required]="true"
          />
        </div>
      </div>

      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
        <div class="w-full lg:w-1/2">
          <app-select
            label="Nivel de experiencia"
            [selectOptions]="experienceOptions"
            [required]="true"
            [parentForm]="form"
            fieldName="experiencesLevel"
            formControlName="experiencesLevel"
          ></app-select>
        </div>

        <div class="w-full lg:w-1/2">
          <app-select
            label="Modalidad de puesto"
            [selectOptions]="modalityOptions"
            [required]="true"
            [parentForm]="form"
            fieldName="modality"
            formControlName="modality"
          ></app-select>
        </div>
      </div>

      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
        <div class="w-full lg:w-1/2">
          <app-select
            label="Tipo de contrato"
            [selectOptions]="contractOptions"
            [required]="true"
            [parentForm]="form"
            fieldName="contractType"
            formControlName="contractType"
          ></app-select>
        </div>

        <div class="w-full lg:w-1/2">
          <app-select
            label="Jornada laboral"
            [selectOptions]="workDayOptions"
            [required]="true"
            [parentForm]="form"
            fieldName="workday"
            formControlName="workday"
          ></app-select>
        </div>
      </div>

      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
        <div class="w-full lg:w-1/2">
          <app-calendar
            fieldName="closeTime"
            [required]="true"
            [parentForm]="form"
            formControlName="closeTime"
            label="Fecha de cierre de la oferta"
            [minDate]="tomorrow"
          ></app-calendar>
        </div>

        <div class="w-full lg:w-1/2">
          <app-custom-input
            [parentForm]="form"
            label="Calle"
            fieldName="street"
            placeholder="Calle de ubicación"
            formControlName="street"
          />
        </div>
      </div>

      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
        <div class="w-full lg:w-1/2">
          <app-custom-input
            [parentForm]="form"
            label="Número de casa"
            fieldName="numberHouse"
            placeholder="Número de casa de ubicación"
            formControlName="numberHouse"
          />
        </div>

        <div class="w-full lg:w-1/2">
          <app-select
            label="País de ubicación"
            [selectOptions]="countriesOptions"
            [loading]="countriesRequest.isLoading()"
            [filter]="true"
            filterBy="label"
            [parentForm]="form"
            fieldName="country"
            formControlName="country"
          ></app-select>
        </div>
      </div>

      @if (form.get('countryName')?.value === 'El Salvador') {
        <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
          <div class="w-full lg:w-1/2">
            <app-select
              label="Departamento de ubicación"
              [selectOptions]="departmentsOptions"
              [loading]="departmentsRequest.isLoading()"
              [filter]="true"
              filterBy="label"
              [parentForm]="form"
              fieldName="departmentId"
              formControlName="departmentId"
            ></app-select>
          </div>

          <div class="w-full lg:w-1/2">
            <app-select
              label="Municipio de ubicación"
              [selectOptions]="municipalitiesOptions"
              [loading]="municipalitiesRequest.isLoading()"
              [filter]="true"
              filterBy="label"
              [parentForm]="form"
              fieldName="municipalityId"
              formControlName="municipalityId"
            ></app-select>
          </div>
        </div>
      }

      <div class="flex flex-wrap lg:flex-nowrap w-full gap-2 mt-4">
        <div class="w-full">
          <app-textarea
            [parentForm]="form"
            label="Descripción"
            formControlName="description"
            fieldName="description"
            [rows]="5"
            placeholder="Detalles del puesto de trabajo"
            [required]="true"
          ></app-textarea>
        </div>
      </div>

      <div class="flex flex-wrap flex-col lg:flex-nowrap w-full gap-2 mt-4">
        <div class="flex flex-col lg:flex-row justify-between items-center">
          <p class="text-lg font-bold mb-4">Requisitos del puesto</p>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 text-[15px] rounded-full w-64"
            (click)="addRequirement($event)"
          >
            Agregar requerimiento
          </button>
        </div>
        <div formArrayName="requirements" class="flex items-center flex-col">
          <div
            *ngFor="let requirement of requirements.controls; let i = index"
            [formGroupName]="i"
            class="flex flex-wrap lg:flex-nowrap w-full gap-4 mt-4 justify-center"
          >
            <div class="w-full">
              <app-custom-input
                [parentForm]="form"
                [arrayField]="requirements"
                [position]="i"
                [label]="'Descripción del requisito ' + (i + 1)"
                fieldName="description"
                placeholder="Requisito del puesto de trabajo"
                formControlName="description"
                [required]="true"
              />
            </div>
            <button
              (click)="removeRequirement($event, i)"
              class="p-button-rounded p-button-text ml-2"
              pTooltip="Eliminar requesito"
              tooltipPosition="bottom"
            >
              <span class="material-symbols-outlined text-red-500"> delete </span>
            </button>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap flex-col lg:flex-nowrap w-full gap-2 mt-4">
        <div class="flex flex-col lg:flex-row justify-between items-center">
          <p class="text-lg font-bold mb-4">Habilidades técnicas requeridas</p>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 text-[15px] rounded-full w-64"
            (click)="addTechnicalSkill($event)"
          >
            Agregar habilidad técnica
          </button>
        </div>
        <div formArrayName="technicalSkills" class="flex items-center flex-col">
          <div
            *ngFor="let skill of technicalSkills.controls; let i = index"
            [formGroupName]="i"
            class="flex flex-wrap lg:flex-nowrap w-full gap-4 mt-4 justify-center"
          >
            <div class="w-full">
              <app-select
                [label]="'Habilidad técnica ' + (i + 1)"
                [arrayField]="technicalSkills"
                [position]="i"
                [selectOptions]="technicalSkillsOptions"
                [required]="true"
                [parentForm]="form"
                [filter]="true"
                filterBy="label"
                fieldName="technicalSkillId"
                formControlName="technicalSkillId"
                [loading]="technicalSkillsRequest.isLoading()"
              ></app-select>
            </div>
            <button
              (click)="removeTechnicalSkill($event, i)"
              class="p-button-rounded p-button-text ml-2"
              pTooltip="Eliminar habilidad técnica"
              tooltipPosition="bottom"
            >
              <span class="material-symbols-outlined text-red-500"> delete </span>
            </button>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap flex-col lg:flex-nowrap w-full gap-2 mt-4">
        <div class="flex flex-col lg:flex-row justify-between items-center">
          <p class="text-lg font-bold mb-4">Habilidades de lenguaje requeridas</p>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 text-[15px] rounded-full w-64"
            (click)="addlanguageSkill($event)"
          >
            Agregar habilidad de lenguaje
          </button>
        </div>
        <div formArrayName="languageSkills" class="flex items-center flex-col">
          <div
            *ngFor="let skill of languageSkills.controls; let i = index"
            [formGroupName]="i"
            class="flex flex-wrap lg:flex-nowrap w-full gap-4 mt-4 justify-center items-center"
          >
            <div class="w-full lg:w-1/3">
              <app-select
                [label]="'Idioma ' + (i + 1)"
                [arrayField]="languageSkills"
                [position]="i"
                [selectOptions]="languageOptions"
                [filter]="true"
                filterBy="label"
                [required]="true"
                [parentForm]="form"
                fieldName="languageId"
                formControlName="languageId"
              ></app-select>
            </div>
            <div class="w-full lg:w-1/3">
              <app-select
                [label]="'Habilidad de idioma ' + (i + 1)"
                [arrayField]="languageSkills"
                [filter]="true"
                filterBy="label"
                [position]="i"
                [selectOptions]="skillsOptions"
                [required]="true"
                [parentForm]="form"
                fieldName="skill"
                formControlName="skill"
              ></app-select>
            </div>
            <div class="w-full lg:w-1/3">
              <app-select
                [label]="'Nivel de idioma ' + (i + 1)"
                [arrayField]="languageSkills"
                [position]="i"
                [selectOptions]="languageLevelOptions"
                [filter]="true"
                filterBy="label"
                [required]="true"
                [parentForm]="form"
                fieldName="level"
                formControlName="level"
              ></app-select>
            </div>
            <button
              (click)="removelanguageSkill($event, i)"
              class="p-button-rounded p-button-text ml-2"
              pTooltip="Eliminar habilidad de lenguaje"
              tooltipPosition="bottom"
            >
              <span class="material-symbols-outlined text-red-500"> delete </span>
            </button>
          </div>
        </div>
      </div>

      <div class="flex w-full justify-end mt-3 gap-3">
        <p-button (onClick)="goBack()" label="Cancelar" [outlined]="true" />
        <p-button type="submit" label="Guardar" />
      </div>
    </form>
  </div>
</div>
